<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户管理</title>
    </head>

    <body>
        当前登录用户是:{{ request.session.user.name }}<br/>
        <a href="{% url 'user:logout' %}">退出登录</a>
        <a href="{% url 'user:add_view' %}">添加用户</a>
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>联系方式</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>
                            {% if user.sex == 0 %}
                            女
                            {% else %}
                            男
                            {% endif %}
                        </td>
                        <td>{{ user.tel }}</td>
                        <td>
                            <a href="{% url 'user:view' %}?uid={{ user.id }}">编辑</a>
                            {% if request.session.user.id != user.id %}
                            <a href="{% url 'user:delete' %}?uid={{ user.id }}">删除</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.session.user.id == user.id %}
                            <a href="{% url 'user:changepass_view' %}?uid={{ user.id }}">修改密码</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>