{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>用户管理</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static '/user/static.css' %}" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">CMDB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'user:user' %}">用户管理</a></li>
                    <li class="active"><a href="{% url 'user:index' %}">检测页面</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>当前登录的用户是: {{ request.session.user.name }}</a></li>
                    <li class="active"><a href="{% url 'user:logout' %}">退出登录</a></li>
                </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <lable  class="label label-primary">硬件信息如下:</lable>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>主机名</th>
                            <th>主板型号</th>
                            <th>生产产商</th>
                            <th>主板序列号</th>
                            <th>CPU型号</th>
                            <th>CPU数量</th>
                            <th>CPU总核数</th>
                            <th>逻辑CPU个数</th>
                            <th>内存可扩展总大小</th>
                            <th>实际内存大小</th>
                            <th>内存插槽</th>
                            <th>每个内存大小</th>
                            <th>硬盘数量</th>
                            <th>硬盘容量</th>
                            <th>根目录容量</th>
                            <th>数据容量</th>
                            <th>网卡名称</th>
                            <th>MAC地址</th>
                            <th>显卡名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in Info_List %}
                        <tr>
                            <td>{{ info.Host_Name }}</td>
                            <td>{{ info.Server_Type }}</td>
                            <td>{{ info.Server_Producter }}</td>
                            <td>{{ info.Server_Number  }}</td>
                            <td>{{ info.Cpu_Type }}</td>
                            <td>{{ info.Cpu_Number  }}颗</td>
                            <td>{{ info.Cpu_Core }}个</td>
                            <td>{{ info.Cpu_Thread }}个</td>
                            <td>{{ info.Mem_scalable }}G</td>
                            <td>{{ info.Mem_total_Size }}G</td>
                            <td>{{ info.Mem_slot_Number }}个</td>
                            <td>{{ info.Mem_each_Size }}</td>
                            <td>{{ info.Disk_Number }}个</td>
                            <td>{{ info.Disks_each_Size }}</td>
                            <td>{{ info.Root_Size }}G</td>
                            <td>{{ info.Data_Size }}</td>
                            <td>{{ info.Network_Name }}</td>
                            <td>{{ info.Network_Mac }}</td>
                            <td>{{ info.GPU_Name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </body>
</html>