<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户管理</title>
    </head>
    <body>
        当前登录的用户是{{ request.session.user.name }}
        <a href="{% url 'user:logout' %}">退出登录</a>
        <table>
            <thead>
                <tr>
            	    <th>姓名</th>
            	    <th>年龄</th>
            	    <th>性别</th>
                    <th>联系方式</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for uid,user in users.items %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>
                    {% if user.sex == 0 %}
                        女
                    {% else %}
                        男
                    {% endif %}
                    </td>
                    <td>{{ user.tel }}</td>
                    <td>
                        <a href="{% url 'user:view' %}?uid={{ uid }}">编辑</a>
                        {% if request.session.user.id != uid %}
                        <a href="{% url 'user:delete' %}?uid={{ uid }}">删除</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>