{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'sweetalert-1.0.1/dist/sweetalert.css' %}" rel="stylesheet" />
    <link href="{% static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" />

  </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">CMDB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'user:user' %}">用户管理</a></li>
                    <li class="active"><a href="{% url 'user:index' %}">检测页面</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>当前登录的用户是: {{ request.session.user.name }}</a></li>
                    <li class="active"><a href="{% url 'user:logout' %}">退出登录</a></li>
                </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <a class="btn btn-primary btn-create-user" href="javascript:void(0);">创建新用户</a>
            <br/>
            <br/>
            <table id="table-user" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>联系方式</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>
                        {% if user.sex == 0 %}
                            女
                        {% else %}
                            男
                        {% endif %}
                        </td>
                        <td>{{ user.tel }}</td>
                        <td>
                            <a class="btn btn-success btn-xs" href="{% url 'user:view' %}?uid={{ user.id }}">编辑</a>
                            {% if request.session.user.id != user.id %}
                            <a  class="btn btn-danger btn-xs"  href="{% url 'user:delete' %}?uid={{ user.id }}">删除</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="dialog-user-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户创建</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal form-create-user">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-3">用户名：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">再次输入密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="other_password" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">联系方式：</label>
                        <div class="col-md-9">
                            <input type="text"class="form-control"  name="tel" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">年龄：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="age" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">性别：</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="1" checked="checked"/> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="0"/> 女
                            </label>
                        </div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn-save-user" >保存</button>
              </div>
            </div>
          </div>
        </div>

        <script  src="{% static 'jquery/jquery.min.js' %}"></script>
        <script  src="{% static 'sweetalert-1.0.1/dist/sweetalert.min.js' %}"></script>
        <script  src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        <script  src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
        <script  src="{% static 'DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() { 
                jQuery('#table-user').DataTable({
                    "language": {
                        "processing": "处理中...",
                        "lengthMenu": "显示 _MENU_ 项结果",
                        "zeroRecords": "没有匹配结果",
                        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "infoFiltered": "(由 _MAX_ 项结果过滤)",
                        "infoPostFix": "",
                        "search": "搜索:",
                        "searchPlaceholder": "搜索...",
                        "url": "",
                        "emptyTable": "表中数据为空",
                        "loadingRecords": "载入中...",
                        "infoThousands": ",",
                        "paginate": {
                          "first": "首页",
                          "previous": "上页",
                          "next": "下页",
                          "last": "末页"
                        },
                        "aria": {
                          paginate: {
                              first: '首页',
                              previous: '上页',
                              next: '下页',
                              last: '末页'
                          },
                          "sortAscending": ": 以升序排列此列",
                          "sortDescending": ": 以降序排列此列"
                        },
                        "decimal": "-",
                        "thousands": "."
                        }
                });


                jQuery('.btn-create-user').on('click', function(){
                    jQuery('#dialog-user-create').modal({
                        show: true,
                        backdrop: false,
                        keyboard: false

                    });
                });



        });
        </script>
    </body>
</html>