{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'sweetalert-1.0.1/dist/sweetalert.css' %}" rel="stylesheet" />
    <link href="{% static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    {% block links %}{% block %}

    {% block style %}{% block %}

  </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">CMDB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_user %}{% endblock %}"><a href="{% url 'user:user' %}">用户管理</a></li>
                    <li class="{% block nav_asset %}{% endblock %}"><a href="{% url 'user:user' %}">资产管理</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>当前登录的用户是: {{ request.session.user.name }}</a></li>
                    <li class="active"><a href="{% url 'user:logout' %}">退出登录</a></li>
                </ul>
            </div>
          </div>
        </nav>

        {% block container %}{% endblock %}
        
        {% block dialog %}{% endblock %}

        <script  src="{% static 'jquery/jquery.min.js' %}"></script>
        <script  src="{% static 'sweetalert-1.0.1/dist/sweetalert.min.js' %}"></script>
        <script  src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        <script  src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
        <script  src="{% static 'DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}"></script>
        {% block script %}{% block %}

        <script type="text/javascript">
            jQuery(document).ready(function() {
                {% block js %}{% endblock %}
                });
        </script>
    </body>
</html>