{% extends "base.html" %}
{% load static %}


{% block title %}WEB日志分析{% endblock %}
{% block nav_webanalysis_ops %}active{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-6">
        <form class="form-inline">
            <div class="form-group">
                <label class="form-label" for="accesslog_file">文件选择</label>
                <select class="form-control" id="accesslog_file" name="accesslog_file">
                    {% for item in files %}
                        <option value="{{ item.id }}">{{ item.name }}({{ item.created_time }})</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-inline" method="POST" enctype="multipart/form-data" action="{% url 'webanalysis:upload' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label sr-only">上传文件</label>
                <input type="file" name="log" />
            </div>
                <input type="submit" class="btn btn-default" value="上传文件" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="dist_status_code" style="width: 100%; height: 300px"></div>
    </div>
    <div class="col-md-6">
        <div id="trend_visit" style="width: 100%; height: 300px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="dist_geo" style="width: 100%; height: 800px">3</div>
    </div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
{% endblock %}

{% block js %}
    var chart_dist_status_code = echarts.init(document.getElementById('dist_status_code'));
    var chart_trend_visit = echarts.init(document.getElementById('trend_visit'));
    var chart_dist_geo = echarts.init(document.getElementById('dist_geo'));

    var option_dist_status_code = {
        title: {
            text: '状态码分布',
            x:'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:[]
        },
        toolbox: {
            show : true,
            orient: 'vertical',
            x: 'right',
            y: 'center',
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'状态码',
                type:'pie',
                radius : '70%',
                center: ['50%', '60%'],
                data:[]
            }
        ]
        };

    var option_trend_visit = {
        title: {
            text: '每个小时日志访问量',
            x:'center'
        },
        tooltip : {
            trigger: 'axis',
            axisPointer : {
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        toolbox: {
            show : true,
            x: 'right',
            y: 'top',
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'访问次数',
                type:'bar',
                data:[]
            }
        ]
        };



    function reload(){
        var id = jQuery('#accesslog_file').val();
        reload_dist_status_code(id);
        reload_trend_visit(id);
        reload_dist_geo(id);
    }

    function reload_dist_status_code(id) {
        jQuery.get("{% url 'webanalysis:dist_status_code' %}", {'id' : id}, function(result){
            if(200 === result['code']) {
                chart_dist_status_code.clear();
                option_dist_status_code['legend']['data'] = result['result']['legend'];
                option_dist_status_code['series'][0]['data'] = result['result']['series'];
                chart_dist_status_code.setOption(option_dist_status_code);
        }
    }, 'json');
    }

    function reload_trend_visit(id){
        jQuery.get("{% url 'webanalysis:trend_visit' %}", {'id' : id}, function(result){
            if(200 === result['code']) {
                chart_trend_visit.clear();
                option_trend_visit['xAxis'][0]['data'] = result['result']['xAxis'];
                option_trend_visit['series'][0]['data'] = result['result']['series'];
                chart_trend_visit.setOption(option_trend_visit);
        }
    }, 'json');
    }

    function reload_dist_geo(id){

    }

    reload();

    jQuery('#accesslog_file').on('change', function(){
        reload();
    });
{% endblock %}